.a-page {
    background-color: var(--black);
}

.a-wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--black);
    min-height: 100vh;
}

.a-wrapper p,h2 {
    color: var(--white);
}

.a-left {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 5%;
}

.a-left-content>p {
    color: var(--gray);
}

.a-right {
    display: flex;
    flex-direction: column;
    flex: 4;
    padding: 5%;
}
.a-left-about h2 {
    font-weight: 530;
    font-size: 65px;
    color: var(--white);
    margin: 0;
}

/* right */

.edu-title {
    font-size: 20px;
}

.edu-1 {
    font-size: 45px;
    font-weight: 300;
    margin: 0%;
}

.edu-2::before {
    content: "- ";

}