.n-wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.n-left {
    font-size: 1.7rem;
    font-weight: bold;
    flex: 1;
    margin-left: 2rem;
}

.n-right {
    display: flex;
    flex: 1;
    margin-right: 2rem;
}

.n-list {
    flex: 10;
}

.n-list>ul {
    display: flex;
    gap: 3rem;
    font-size: 1rem;
}

.n-list>ul:hover {
    cursor: pointer;
    color: green;
}
