.intro {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.i-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 2;
    padding: 5%;
}

.i-left-bottom p{
    font-weight: 600;
    font-size: 26px;
    margin: 0;
}

.i-right {
    display: flex;
    flex: 2;
    padding: 2%;
}

.i-hero-name {
    font-weight: 1000;
    font-size: 1000%;
}

.i-icons {
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-top: 10%;
}

.i-icons img {
    width: 30%;
    
}

.i-icons img:hover {
    filter: invert(92%) sepia(4%) saturate(15%) hue-rotate(321deg) brightness(76%) contrast(82%);    
    cursor: pointer;
}

.mail {
    margin-bottom: 10px;
}

.i-photo img {
    width: 100%;
}

@media (max-width: 1000px) { 
    .i-hero-name {
        font-weight: 1000;
        font-size: 900%;
    }
 }

 @media (max-width: 900px) { 
    .i-hero-name {
        font-weight: 1000;
        font-size: 850%;
    }
 }

 @media (max-width: 800px) { 
    .i-hero-name {
        font-weight: 1000;
        font-size: 800%;
    }

    .intro {
        height: 70vh;
    }
 }

 @media (max-width: 600px) { 
    .i-right {
        display: none;
    }
 }

 @media (max-width: 400px) { 
    .i-right {
        display: flex;
    }
    .intro {
        flex-direction: column;
    }
 }

 @media (max-width: 385px) { 
    .i-hero-name {
        font-weight: 800;
        font-size: 500%;
    }
 }