:root
{
    --black:black;
    --white:white;
    --purple:#800080;

}

*{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

body {
    margin: 0;
}

.ul-list {
    list-style: none;
    padding: 0;
}

.button {
    background-color: white;
    border: none;
    color: black;
    padding: 7px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 23px;
    cursor: pointer;
    border-radius:50px;
}

.button:hover {
    background-color:var(--purple);
    border: none;
    color: white;
}

a {
    text-decoration: none;
    color: var(--white);

}

a:visited {
    text-decoration: none;
}

a:hover, a:active {
    background-color: none;
    color: var(--purple);
  }