:root
{
    --black:black;
    --white:white;
    --hover: #AAAAAA;
    --gray: #8B9499;

}

*{
    font-family: 'Poppins', sans-serif;
    font-weight: small;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: var(--white);
}

.ul-list {
    list-style: none;
    padding: 0;
}

.button {
    background-color: white;
    border: none;
    color: black;
    padding: 7px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 23px;
    cursor: pointer;
    border-radius:50px;
}

.button:hover {
    background-color:var(--hover);
    border: none;
    color: white;
}

a {
    text-decoration: none;
    color: var(--hover);

}

a:visited {
    text-decoration: none;
}

a:hover, a:active {
    background-color: none;
    color: var(--black);
  }

hr {
    width: 90%;
} 

hr.white-hr {
    border: solid gray;
    margin-top: 0em;
    margin-bottom: 0em;
    border-width: 1px;
}